<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <link href="/static/images/favicon.png" rel="icon">
  <title>Anonymous Shipper</title>
  <meta name="description" content="Một sản phẩm của CTV BCM Team 2 JS Club gen 10">
  <meta name="author" content="Cộng Tác Viên Ban Chuyên Môn Team 2 JS Club">
  <meta property="og:image" content="/static/images/thumbnail-wide.png" />

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
    type="text/css">

  <!-- Stylesheet
============================== -->
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome Icon -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/css/all.min.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/magnific-popup/magnific-popup.min.css">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
  <!-- Colors Css -->
  <link id="color-switcher" type="text/css" rel="stylesheet" href="#">

  <link rel="stylesheet" href="/static/css/landing-page.css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper   
=============================== -->
  <div id="main-wrapper">

    <div id="content" role="main">

      <!-- Intro
    ============================================= -->
    <form action="#" method="post">
      <section id="home">
        <div class="hero-wrap">
          <div class="hero-mask opacity-8 bg-dark"></div>
          <div class="hero-bg parallax">
            <img class="w-100 h-100" src="../static/images/cover .jpg"></img>
          </div>
          <div class="hero-content d-flex fullscreen py-5">
            <div class="container my-auto py-4">
              <div class="row">
                <div class="col-lg-12 text-center order-1 order-lg-0">
                  <h1 class="text-8 text-white fw-400 mb-0 text-uppercase">Bún đậu cóc vàng</h1>
                  <div class="typed-strings">
                    <p>Minh Đức</p>
                    <p>Đình Dũng</p>
                    <p>Quỳnh Chi</p>
                    <p>Trọng Hũu</p>
                    <p>Trọng Hữu</p>
                    <p>Anh Hải</p>
                    <p>Xuân Lương</p>
                    <p>Duy Phong</p>
                    <p>Anh Tuân</p>
                    <p>Tuấn Hưng</p>
                    <p>Hồng Thái</p>
                  </div>
                  <h2 class="text-23 text-white fw-600 text-uppercase mb-0 ms-n1"><span class="typed"></span></h2>
                  <!-- <a href="/create-portfolio" class="btn btn-primary fw-600 rounded-0 mt-3">Đặt Quà</a> -->
                  <button type="submit" class="btn btn-primary fw-600 rounded-0 mt-3">Đặt Quà</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </section>
    </form>
      <!-- Intro end -->
      <!-- Portfolio
    ============================================= -->
      <!-- Portfolio end -->

      <!-- Testimonial
    ============================================= -->

      <!-- Testimonial end -->

      <!-- Footer
  ============================================= -->

      <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
============================================= -->
    <a id="back-to-top" class="rounded-circle" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
        class="fas fa-arrow-up"></i></a>

    <!-- Styles Switcher -->

    <!-- Styles Switcher End -->

    <!-- JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Easing -->
    <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <!-- Appear -->
    <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
    <!-- WOW animation -->
    <script src="/static/vendor/wow/wow.min.js"></script>
    <!-- Images Loaded -->
    <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Typed -->
    <script src="/static/vendor/typed/typed.min.js"></script>
    <!-- Parallax Bg -->
    <script src="/static/vendor/parallaxie/parallaxie.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- isotope Portfolio Filter -->
    <script src="/static/vendor/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Style Switcher -->
    <script src="/static/js/switcher.min.js"></script>
    <!-- Custom Script -->
    <script src="/static/js/theme.js"></script>
  </div>
</body>

</html>
