@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --start-color: #0575e6;
  --end-color: #021b79;
  --p-color: #929da6;
  --button-background: #0575e6;
  --input-background: #e4eff8;
  --radius-50: 50px;
  --padding-15: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--start-color);
  background: linear-gradient(to right, var(--start-color), var(--end-color))
    no-repeat;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 108px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .content {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 900px;
  min-width: 200px;
  border-radius: 10px;
  text-align: center;
}

.wrapper .content header h1 {
  font-size: 230%;
  margin-top: 0;
}
.wrapper .content section {
  color: var(--p-color);
  font-size: 15px;
}
.wrapper .content footer {
  padding: var(--padding-15);
}
.wrapper .content footer input {
  border: unset;
  background-color: var(--input-background);
  padding: var(--padding-15);
  font-size: 13px;
  border-radius: var(--radius-50);
  width: 400px;
}
.wrapper .content footer button {
  background-color: var(--button-background);
  color: #fff;
  border: unset;
  width: 120px;
  border-radius: var(--radius-50);
  padding: var(--padding-15);
  margin-left: 10px;
  cursor: pointer;
}

.wrapper .content footer button:hover {
  background-color: #0868c7;
}
.wrapper .content footer button:active {
  background-color: #0868c7;
  transform: translateY(2px);
}

.wrapper .content footer input:focus,
.wrapper .content footer button:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .wrapper .content {
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: var(--padding-15);
  }
  .wrapper .content footer input {
    width: 200px;
    margin-bottom: 10px;
  }
}
